input, label{
  display: block;
  padding:1% 0%;
  margin:1% 10%;
  width:80%;
  font-size: 120%;
}
.display-2{
  text-align: center;
}
form{
  background-color: aquamarine;
  border-radius: 50%;
}
.input_box{
  width:80%;
  margin: auto;
}
.btn_box{
  width: 50%;
  margin:2% 40%;
}
.btn{
  font-size: 120%;
  padding:2% 5%;
  margin:0 1%;
}
img{
  margin:auto;
  height: 300px;
  display: block;
}
