<h2 class="display-2">Edit A Product</h2>
<form>
  <p>{{newReview|json}}</p>
  <div class='col'>
    <img src={{selectedProduct.url}}>
  </div>
  <div class='col'>
    <label>Rating: </label>
    <select class="dropdown_rating" name="newReview.rate" [(ngModel)]="newReview.rate">
      <option [ngValue]="1">1 stars</option>
      <option [ngValue]="2">2 stars</option>
      <option [ngValue]="3" select="selected">3 stars</option>
      <option [ngValue]="4">4 stars</option>
      <option [ngValue]="5">5 stars</option>
    </select>
    <label>Comment: </label>
    <textarea class="review_area" name="newReview.content" [(ngModel)]="newReview.content"
      placeholder="Type your comment here"></textarea>
    <div class="btn_box">
      <button (click)="addReviews(selectedProduct._id)" class="btn btn-success" type="submit"
        [disabled]="newReview.content.length < 4">Add A Review</button>
      <button class="btn btn-danger" [routerLink]="['/products']">Cancel</button>
    </div>
  </div>
</form>
<app-reviews *ngIf = "selectedProduct.reviews" [showingProduct] = 'selectedProduct'></app-reviews>
