
<h2 class="display-2">Edit A Product</h2>

<form>
  <p>{{editingProduct|json}}</p>
  <div class="input_box">
    <label>Title: </label>
    <p class="alert alert-danger" *ngIf = "errors.title">{{errors.title.message}}</p>
    <p class="alert alert-danger" *ngIf = "editingProduct.title.length < 4">Title of products needs to be more than 4 characters</p>
    <input type="text" name="editingProduct.title" [(ngModel)]="editingProduct.title" placeholder="Add Title Here">
    <label>Price: </label>
    <input type="text" name="editingProduct.price" [(ngModel)]="editingProduct.price" placeholder="Add Price Here">
    <label>Image Url: </label>
    <input type="url" name="editingProduct.url" [(ngModel)]="editingProduct.url" placeholder="Add Image Url Here">
  </div>
  <div class="btn_box">
    <button (click)="updateProduct()" class="btn btn-success" type="submit" [disabled]="editingProduct.title.length < 4" >Submit</button>
    <button class="btn btn-danger" [routerLink]="['/products']">Cancel</button>
  </div>
  <img src={{editingProduct.url}}>
</form>
